.select-body {
  @apply relative flex h-full w-full cursor-pointer items-center justify-between
  rounded-md border border-slate-200 bg-slate-100 p-1;
}

.select-content {
  @apply w-full overflow-x-scroll rounded-l-md px-1.5;
}

.select-item {
  @apply inline-flex rounded-sm py-0.5 text-sm text-white;
}

.is-unique {
  @apply w-fit px-1.5;
}

.is-multi {
  @apply gap-x-1 pl-1.5 pr-1;
}

.show-menu-icon {
  @apply h-full w-5 stroke-2 duration-300 ease-in
  hover:scale-125 hover:text-blue-400
  peer-hover:scale-125 peer-hover:text-blue-400;
}

.clear-all-icon {
  @apply h-full w-5 stroke-2 duration-300 ease-in
  hover:scale-125 hover:text-red-400;
}

.select-menu-body {
  @apply absolute z-50 mt-2 flex max-h-screen cursor-pointer flex-col
  overflow-visible overflow-y-auto
  rounded-md border border-slate-200 bg-slate-100 p-2 drop-shadow-xl;
}

.select-menu-item {
  @apply py-1 pl-2 pr-5 text-sm transition-colors hover:text-blue-400;
}
