@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cottoncandy grid overscroll-none;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
  }

  main {
    @apply mx-auto h-full w-full select-none p-2 font-mono text-gray-500
    md:h-auto md:max-w-3xl md:px-0;
  }

  .bento {
    @apply mx-auto grid w-full grid-flow-row-dense grid-cols-4 place-items-center gap-2;
  }

  .bento > div {
    @apply flex h-full w-full items-center rounded-lg bg-white/10 p-2;
    box-shadow:
      inset 0.05em 0.05em 0.05em rgba(255, 255, 255, 0.8),
      inset 0.1em 0.1em 0.075em rgba(255, 255, 255, 0.4),
      0.05em 0.05em 0.3em rgba(0, 0, 0, 0.2);
  }

  .bg-cottoncandy {
    background: radial-gradient(
      at left top,
      rgb(249, 168, 212),
      rgb(216, 180, 254),
      rgb(129, 140, 248)
    );
  }
}
@layer components {
  .btn {
    @apply h-full w-full cursor-pointer rounded-md px-2 py-1 text-center
    text-sm text-white shadow transition duration-300
    hover:bg-opacity-70
    focus:outline-none focus-visible:outline-none
    active:scale-95;
  }

  .btn-disabled {
    @apply btn cursor-not-allowed bg-gray-400;
  }

  .btn-blue {
    @apply btn bg-blue-500;
  }

  .btn-pink {
    @apply btn bg-pink-400;
  }

  .btn-light {
    @apply btn bg-white text-slate-500;
  }
}
