@import 'tailwindcss';

html {
	@apply overscroll-none;
}

body {
	@apply grid bg-slate-300 text-xs sm:text-sm;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
	min-height: 100vh;
}

main {
	@apply mx-auto h-full w-full p-2 font-mono text-gray-500 md:h-auto md:max-w-3xl md:px-0;
}

.bento {
	@apply mx-auto grid w-full grid-flow-row-dense grid-cols-4 place-items-center gap-2;
}

.bento > div {
	@apply flex h-full w-full items-center rounded-lg bg-white/10 p-2;
	box-shadow:
		inset 0.05em 0.05em 0.05em rgba(255, 255, 255, 0.8),
		inset 0.1em 0.1em 0.075em rgba(255, 255, 255, 0.4),
		0.05em 0.05em 0.3em rgba(0, 0, 0, 0.2);
}

@utility btn {
	@apply z-20 h-9 w-full cursor-pointer rounded-md px-2 py-1 text-center text-xs text-white shadow transition duration-300 hover:opacity-70 focus:outline-none focus-visible:outline-none active:scale-95 sm:text-sm;
}

.btn-disabled {
	@apply btn cursor-not-allowed bg-gray-400;
}

.btn-blue {
	@apply btn bg-blue-500;
}

.btn-pink {
	@apply btn bg-pink-400;
}

.btn-light {
	@apply btn bg-white text-slate-500;
}
